@model IEnumerable<Products>

@{
    ViewData["Title"] = "Index";

}

<div>
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Items View</h2>
        </div>

    </div>

    <div class="row">

                    <div class="col-md-6">
                        <form asp-controller="Products" asp-action="Search"  method="get">
                                <div class="input-group">
               <select name="id" class="form-control" asp-items="@ViewBag.CategoryList">
            <option value="0">All Categories</option>
        </select>
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit"><i class="fas fa-search"></i>Search</button>
            </div>
        </div>
                        </form>
                    </div>
        @if (User.IsInRole("Admin"))
        {
                <div class="col-6">
                    <a asp-controller="Products" asp-action="New" class="btn btn-primary">Add New Item</a>
                </div>
        }
                </div>

    <table class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>
                    Item Name
                </th>
                <th>
                    Item Price
                </th>
                @if (User.IsInRole("Admin"))
                {
                    <th>
                        Creation Date
                    </th>
                        <th>
                            Item Created By
                        </th>
                }
                <th>
                    Category
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                                <tr>
                                    <td>
                        @item.Name
                                    </td>
                                    <td>
                        @item.Price
                                    </td>

                    @if (User.IsInRole("Admin"))
                    {
                                            <td>
                            @item.CreationDate
                                        </td>
                                                             <td>
                            @item.user?.Id
                                                    </td>
                    }
                                    <td>

                        @item.category.Name
                                    </td>

                    @if (User.IsInRole("Admin"))
                    {
                                <td>
                                    <div style="display: flex; gap: 10px; align-items: center;">
                                        <a asp-controller="Products" asp-action="Edit" asp-route-Id="@item.Id" class="btn btn-sm btn-success">Edit</a>
                                        <form asp-controller="Products" asp-action="Delete" asp-route-Id="@item.Id" method="post">
                                            <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                                        </form>
                                    </div>
                                </td>
                    }
                    </tr>

            }
        </tbody>
    </table>
</div>