@model IEnumerable<Game>
@{
    ViewData["Title"] = "Index";
}
@if (User.IsInRole("Admin"))
                    {
<a class="btn btn-secondary" asp-action="Create">
    <i class="bi bi-plus-circle"></i>
    Add Game
</a>
                    }
@if (!Model.Any())
{
            <div class="alert alert-dismissible alert-warning">

          <h4 class="alert-heading">Warning!</h4>
          <p class="mb-0">There is No Games To Show.</p>
        </div>
}
else
{   <div class="mt-5">
        <table class="table table-bordered border-primary">
            <tbody>
                @foreach(var game in Model)
                {
                    <tr class="border-1 border-success">
                        <td>
                            <div class="d-flex">
                                <div class="pe-4">
                                            <img src="@($"{FileSettings.ImagePath}/{game.Cover}")" alt="@game.Name" style="max-width:90px" />
                                </div>
                                <div class="d-flex flex-column justify-content-center ">
                                    <h4>@game.Name</h4>
                                    <h5>@game.category.Name</h5>
                                </div>

                            </div>
                        </td>
                        <td class="align-middle   ">
                            @if (User.IsInRole("Admin"))
                            {
                                <div class="d-flex justify-content-end">
                                    <a class=" btn btn-info rounded rounded-3 me-2" asp-controller="Games" asp-action="edit" asp-route-id="@game.Id">
                                        <i  class="bi bi-pencil-fill"></i>
                                    </a>
                                    <a href="javascript:void(0);" class="btn btn-danger rounded rounded-3" onclick="confirmDelete('@game.Id')">
                                        <i class="bi bi-trash3"></i>
                                    </a>
                                </div>
                            }
                        </td>
                    </tr>
                }

            </tbody>

        </table>
    </div>

}
<script>
    function confirmDelete(id) {
        event.preventDefault(); // Stop the default action (navigation)

        Swal.fire({
            title: "Are you sure?",
            text: "This action cannot be undone!",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#d33",
            cancelButtonColor: "#3085d6",
            confirmButtonText: "Yes, delete it!"
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = '/Games/Delete/' + id; // Adjust URL if needed
            }
        });
    }
</script>