@model IEnumerable<Item>

@{
    ViewData["Title"] = "Index";
}


<div>
    @if(TempData["Success"]!=null)
    {
            <h3 style="color:green"> @TempData["Success"] </h3>
        
    }
    <div class="row pt-4">
        <div class= col-6>
            <h2 class="text-primary">Items View</h2>
        </div>
        <div class= col-6>
            <a asp-controller="Items" asp-action="New" class="btn btn-primary">Add New Item</a>
        </div>

    </div>
    <table class="table table-bordered table-striped style="width:100%>
    <thead>
        <tr>
            <th>
                Item Name
            </th>
            <th>
                Item Price
            </th>
            <th>
                Item Date
            </th>
            <th>
                Category
            </th>
        </tr>
        <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.Name
                        </td>
                        <td>
                            @item.Price
                        </td>

                        <td>
                            @item.DateTime
                        </td> 
                        <td>
                            @item.category?.Name
                        </td> 

                        <td>

							    <div style="display: flex; gap: 10px; align-items: center;">
			                        <a asp-controller="Items" asp-action="Edit" asp-route-Id="@item.Id" class="btn btn-sm btn-success">Edit</a>
			                        <form asp-controller="Items" asp-action="Delete" asp-route-Id="@item.Id" method="post" >
				                        <button type="submit" class="btn btn-sm btn-danger">Delete</button>
			                       
                                    </form>
		                        </div>
                                   
                            
                        </td>

                    </tr>
                }
        </tbody>
    </thead>

</table>
</div>


